* {
  margin: unset;
}

#root {
  display: grid;
  grid-template-rows: auto auto 1fr;
  border: 1px solid black;
  height: 100vh;
}
main {
  display: grid;
  grid-template-columns: 1fr auto auto;
}
nav {
  display: flex;
  gap: 1em;
}
